@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html,
body {
  height: 100vh;
}

body {
  z-index: 0;
  background: linear-gradient(to right, #f7d1d7, skyblue);
  transition: all .3s;
}

.night {
  background: #424242;
  color: antiquewhite !important;
}

.bulletbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 500px;
  height: 600px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 200px auto;
  z-index: 9999;
  color: #000;
}

.bulletbox h2 {
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

.bulletbox .bulletmiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.bulletbox .common {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.bulletbox .common input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.bulletbox .common p {
  width: 100px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.bulletbox .bulletsex select {
  width: 200px;
  height: 40px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.bulletbox .footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.bulletbox .footer-btn button {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.bulletmask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2031;
  background: rgba(0, 0, 0, 0.3);
}

#bullet-tip-box {
  position: fixed;
  top: -70px;
  left: 760px;
  width: 220px;
  height: 70px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  z-index: 3000;
  opacity: 0;
  transition: all .4s;
  color: #000;
}

#bullet-tip-box p {
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  text-align: center;
}

#deletebullet {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -220px;
  left: 620px;
  width: 450px;
  height: 220px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 3000;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: all .5s;
  opacity: 0;
  color: #000;
}

#deletebullet .deletebullet-header {
  flex: 1;
  font-size: 20px;
  padding: 5px 8px 0 5px;
}

#deletebullet .deletebullet-header .header-font {
  display: flex;
  justify-content: space-between;
  cursor: default;
}

#deletebullet .deletebullet-header .header-font i {
  transition: all .3s;
  cursor: pointer;
}

#deletebullet .deletebullet-header .header-font i:hover {
  color: #721c24;
}

#deletebullet .deletebullet-header .header-font i:nth-child(1) {
  cursor: default;
  color: #628cef;
}

#deletebullet .delete-content {
  flex: 2;
  font-size: 22px;
  letter-spacing: 4px;
  text-indent: 44px;
  padding: 0 10px;
  justify-self: center;
  cursor: default;
}

#deletebullet .footer-deletebtn {
  flex: 1;
  align-self: flex-end;
  padding-right: 40px;
  cursor: default;
}

#deletebullet .footer-deletebtn button {
  width: 60px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
}

#deletebullet .footer-deletebtn button:hover {
  background: #721c24;
}

#deletebullet .footer-deletebtn button:nth-child(1) {
  background: #628cef;
}

#deletebullet .footer-deletebtn button:nth-child(1):hover {
  background: #721c24;
}

#modifypassword {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -610px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 200px auto;
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 8888;
  transition: all .3s;
}

#modifypassword .modifypassword-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 24px;
}

#modifypassword .modifypassword-header p {
  font-weight: 700;
  cursor: default;
}

#modifypassword .modifypassword-header i {
  transition: all .3s;
  cursor: pointer;
}

#modifypassword .modifypassword-header i:hover {
  color: #721c24;
}

#modifypassword .modifypassword-middle-code {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

#modifypassword .modifypassword-middle-code p {
  width: 100px;
  font-size: 20px;
}

#modifypassword .modifypassword-middle-code input {
  width: 70px;
  height: 40px;
  padding-left: 10px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
  margin-right: 10px;
}

#modifypassword .modifypassword-middle-code button {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background: #628cef;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
}

#modifypassword .modifypassword-middle-code button:hover {
  opacity: .6;
}

#modifypassword .modifypassword-middle-newpwd {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

#modifypassword .modifypassword-middle-newpwd p {
  width: 100px;
  font-size: 20px;
}

#modifypassword .modifypassword-middle-newpwd input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

#modifypassword .modifypassword-footer {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
}

#modifypassword .modifypassword-footer button {
  width: 80px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
}

#modifypassword .modifypassword-footer button:hover {
  background: #721c24;
}

#modifypassword .modifypassword-footer button:nth-child(1) {
  background: #628cef;
}

#modifypassword .modifypassword-footer button:nth-child(1):hover {
  background: #721c24;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.nav-header .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  overflow: hidden;
  cursor: default;
}

.nav-header .logo img {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.nav-header .logo h3 {
  background: linear-gradient(to right, #ab5865, skyblue);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}

.nav-header .menu {
  flex: 9;
}

.nav-header .menu ul {
  display: flex;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 100px;
  cursor: pointer;
}

.nav-header .menu ul li {
  padding: 0 20px;
  overflow-y: hidden;
  transition: all .3s ease;
}

.nav-header .menu ul li p {
  height: 50px;
  transition: all .3s ease;
}

.nav-header .menu ul li:nth-child(2n + 1):hover {
  background: rgba(97, 17, 17, 0.6);
}

.nav-header .menu ul li:nth-child(2n + 1):hover p {
  transform: scale(1.2);
}

.nav-header .menu ul li:nth-child(2n) {
  color: #fff;
  cursor: default;
}

.nav-header .sun-moon {
  flex: 1;
  height: 50px;
  line-height: 50px;
  display: flex;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.nav-header .sun-moon .mask {
  position: absolute;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 50px;
  cursor: default;
  transition: all 0.2s ease;
}

.nav-header .sun-moon .mask img {
  width: 100%;
  border-radius: 15px 0 0 0;
}

.nav-header .sun-moon .mask ::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-header .sun-moon .sun,
.nav-header .sun-moon .moon {
  flex: 1;
  transition: background .3s ease-in-out;
}

.nav-header .sun-moon .sun:hover,
.nav-header .sun-moon .moon:hover {
  background: rgba(97, 17, 17, 0.6);
}

.nav-header .sun-moon .sun p:hover,
.nav-header .sun-moon .moon p:hover {
  animation: jump .3s ease-in-out;
}

.nav-header .sun-moon .sun {
  color: orange;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-7px);
  }
  66% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

.middle {
  display: flex;
}

.middle .tab-nav {
  position: relative;
  width: 0;
  height: 900px;
  text-align: center;
  margin-top: 20px;
  background: rgba(142, 206, 234, 0.6);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  transition: all .3s;
}

.middle .tab-nav .call {
  position: absolute;
  font-size: 30px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: all .3s;
  z-index: 1021;
}

.middle .tab-nav .call::after {
  display: block;
  width: 80px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: -10px;
  left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 40%;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  content: '我是侧边栏';
  font-size: 14px;
  font-weight: 1000;
  background: linear-gradient(to right, #ab5865, skyblue);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all .3s;
}

.middle .tab-nav .call:hover::after {
  opacity: 1;
}

.middle .tab-nav .tab-content {
  opacity: 0;
}

.middle .tab-nav .tab-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 200px 0;
  letter-spacing: 5px;
  font-size: 30px;
  cursor: pointer;
}

.middle .tab-nav .tab-content ul li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 20px;
  transition: all .3s;
}

.middle .tab-nav .tab-content ul li:hover {
  background-color: #965e61;
}

.middle .middle-item {
  display: flex;
  margin: auto;
  transition: all .3s;
}

.middle .middle-item .home-page {
  display: flex;
  position: relative;
  width: 1200px;
  height: 700px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  background: url(../images/60.jpg) no-repeat center;
  background-size: cover;
  display: none;
}

.middle .middle-item .home-page .home-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  backdrop-filter: blur(4px);
  border-radius: 8px;
}

.middle .middle-item .home-page .home-img .home-title {
  text-align: center;
  margin: 80px;
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 0px 10px black;
}

.middle .middle-item .home-page .home-img .home-content {
  text-align: center;
  margin: 40px 30px;
  font-size: 30px;
  color: #fff;
}

.middle .middle-item .check-page {
  position: relative;
  width: 1400px;
  height: 900px;
  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  display: none;
  background: antiquewhite;
}

.middle .middle-item .check-page .check-title {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #fff;
  cursor: default;
}

.middle .middle-item .check-page .statistics {
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  margin: 5px 50px;
  letter-spacing: 5px;
  color: #000;
}

.middle .middle-item .check-page .statistics input {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
}

.middle .middle-item .check-page .statistics button {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  background: skyblue;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
}

.middle .middle-item .check-page .statistics button:hover {
  background: rgba(135, 206, 235, 0.6);
}

.middle .middle-item .check-page .statistics p {
  align-self: flex-end;
}

.middle .middle-item .check-page .statistics p span {
  color: #9b6757;
}

.middle .middle-item .check-page table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  color: #000;
  cursor: default;
}

.middle .middle-item .check-page table thead {
  height: 48px;
  text-align: center;
}

.middle .middle-item .check-page table th {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

.middle .middle-item .check-page table td,
.middle .middle-item .check-page table th {
  border: 1px solid #f2f2f2;
}

.middle .middle-item .check-page table td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.middle .middle-item .check-page table tbody tr {
  transition: all .2s;
}

.middle .middle-item .check-page table tbody tr:hover {
  background: #e1ecf8;
}

.middle .middle-item .check-page table button {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  background: skyblue;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
}

.middle .middle-item .check-page table button:hover {
  background: rgba(135, 206, 235, 0.6);
}

.middle .middle-item .check-page .page-changing-module {
  position: absolute;
  bottom: 20px;
  left: 525px;
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
  letter-spacing: 5px;
  color: #000;
}

.middle .middle-item .check-page .page-changing-module .change-page button {
  width: 50px;
  height: 40px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #b8daff;
  color: #000;
  transition: all .3s;
  font-size: 14px;
  cursor: pointer;
}

.middle .middle-item .check-page .page-changing-module .change-page button:hover {
  opacity: 0.8;
}

.middle .middle-item .check-page .page-changing-module .backAll {
  position: absolute;
  top: 0;
  right: -820px;
  opacity: 0;
  transition: all .4s;
}

.middle .middle-item .check-page .page-changing-module .backAll .backAllbtn {
  width: 100px;
  height: 40px;
  background: #b8daff;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #b8daff;
  color: #000;
  transition: all .4s;
  font-size: 14px;
  cursor: pointer;
}

.middle .middle-item .check-page .page-changing-module .backAll .backAllbtn:hover {
  opacity: 0.8;
}

.middle .middle-item .personalcenter {
  width: 1400px;
  height: 900px;
  margin: 20px auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  display: none;
  background: antiquewhite;
  color: #000;
}

.middle .middle-item .personalcenter h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.middle .middle-item .personalcenter .personal-table {
  border-collapse: collapse;
  margin: 150px auto;
}

.middle .middle-item .personalcenter .personal-table td {
  border: 1px solid;
  width: 600px;
  height: 100px;
}

.middle .middle-item .personalcenter .personal-table td div {
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  cursor: default;
}

.middle .middle-item .personalcenter .personal-table td div p {
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  padding-left: 5px;
  font-size: 27px;
}

.middle .middle-item .personalcenter .personal-table td div span {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
}

.middle .middle-item .personalcenter .personal-table td div input {
  width: 80%;
  height: 80px;
  padding-left: 10px;
  color: #000;
  border: none;
  font-size: 24px;
  outline: none;
  border-radius: 8px;
}

.middle .middle-item .personalcenter .personal-table td div select,
.middle .middle-item .personalcenter .personal-table td div option {
  width: 80%;
  height: 80px;
  color: #000;
  border: none;
  outline: none;
  font-size: 24px;
  border-radius: 8px;
}

.middle .middle-item .personalcenter .personalButton {
  display: flex;
  justify-content: space-around;
}

.middle .middle-item .personalcenter .personalButton button {
  width: 200px;
  height: 80px;
  background: #b8daff;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #b8daff;
  color: #000;
  transition: all .4s;
  font-size: 28px;
  cursor: pointer;
}

.middle .middle-item .personalcenter .personalButton button:hover {
  opacity: 0.8;
}

.middle .active {
  display: block !important;
}
