* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  display: flex;
  background: linear-gradient(to right, #f7d1d7, skyblue);
}

span {
  position: absolute;
  bottom: 0;
  z-index: 0;
  background: radial-gradient(circle at 72% 28%, #fff 3px, #ff7edf, 8%, #5b5b5b, #aad7f9 100%);
  box-shadow: inset 0 0 6px #fff, inset 3px 0 6px #eaf5fc, inset 2px -2px 10px #efcde6, inset 0 0 60px #f9f9de, 0 0 20px #fff;
  border-radius: 50%;
  animation: bubleFloat 4s linear infinite;
}

@keyframes bubleFloat {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  50% {
    transform: translate(10%, -1000%);
  }
  75% {
    transform: translate(-20%, -1200%);
  }
  99% {
    opacity: .9;
  }
  100% {
    transform: translateY(-1800%) scale(1.5);
    opacity: 0;
  }
}

.bulletbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 500px;
  height: 600px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 200px auto;
  z-index: 9999;
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

.bulletmiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.common {
  display: flex;
  text-align: center;
  margin-top: 30px;
}

.common input {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.common p {
  width: 100px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.bulletsex select {
  width: 200px;
  height: 40px;
  color: #000;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* margin: 30px 0 0 100px; */
}

.footer-btn button {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.bulletmask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2031;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
}

.box {
  display: flex;
  position: relative;
  width: 1050px;
  height: 600px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: 2;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.box .pre-box {
  width: calc(1050px / 2);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #edd4dc;
  border-radius: 4px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  transition: all .4s ease;
}

.box .pre-box h1 {
  margin-top: 150px;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.box .pre-box p {
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.box .pre-box .img-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.box .pre-box .img-box img {
  width: 100%;
}

.box .login-form,
.box .register-form {
  flex: 1;
  height: 100%;
}

.box .login-form .title-box,
.box .register-form .title-box {
  height: 250px;
  line-height: 400px;
}

.box .login-form .title-box h1,
.box .register-form .title-box h1 {
  text-align: center;
  letter-spacing: 5px;
}

.box .login-form .input-box,
.box .register-form .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.box .login-form .input-box p,
.box .register-form .input-box p {
  height: 20px;
  font-size: 14px;
  cursor: default;
  color: #be0808;
}

.box .login-form .input-box input,
.box .register-form .input-box input {
  width: 60%;
  height: 40px;
  margin-bottom: 5px;
  text-indent: 8px;
  border: 1px solid #b0cfe9;
  border-radius: 10px;
}

.box .login-form .input-box input:focus,
.box .register-form .input-box input:focus {
  color: #b0cfe9;
}

.box .login-form .input-box input:focus::placeholder,
.box .register-form .input-box input:focus::placeholder {
  opacity: 0;
}

.box .login-form .btn-box,
.box .register-form .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box .login-form .btn-box button,
.box .register-form .btn-box button {
  width: 100px;
  height: 30px;
  margin: 0 20px;
  line-height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #69b3f0;
  color: #fff;
  transition: all .3s;
}

.box .login-form .btn-box button:hover,
.box .register-form .btn-box button:hover {
  cursor: pointer;
  opacity: .6;
}

.box .login-form .btn-box #getCode,
.box .register-form .btn-box #getCode {
  width: auto10px;
}

.box .login-form .btn-box p,
.box .register-form .btn-box p {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
}

.box .login-form .btn-box p:hover,
.box .register-form .btn-box p:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

.box .login-form .input-box input {
  margin-bottom: 15px;
}

.box .login-form .input-box p {
  cursor: default;
  color: #be0808;
  margin-bottom: 5px;
}
